
.card-holder{
    width: 308px;
    margin-right: 100px;
}

.card{
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
}
.card-img{
    max-height: 200px;
}
.card-img img{
    height: 100%;
    width: auto;
}
.card .card-info{
    padding: 25px;
}
.card-info h1{
    font-size: var(--txt-md);
    color: var(--primary);
    padding: 0 0 5px 0;
}
.card .card-info h5{
    font-weight: 400;
    font-size: 12px;
    color: var(--secondary);
    padding: 5px 0;
}
.card .card-info p{
    font-size: 14px;
    padding: 16px 0 0 0;
    color: var(--secondary);
}